.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 5px;
}

.App > div:first-of-type {
  text-align: center;
  padding: 100px 0 40px 0;
}

.numbers {
  display: flex;
  justify-content: center;
}

